:root {
	--color-white: #f9fafa;
	--color-black: #141518;
	--color-blue: #1a9ff0;
	--color-darkBlue: #073d5d;
	--color-grey: #dee0e0;
	--color-darkGrey: #969696;
	--color-red: #cc473d;
	--color-green: #7aa300;
	--color-yellow: #fff6b0;
	--color-shadow: rgba(0, 0, 0, 0.2);
	--size-avatar: 38px;
}

body {
	background-color: var(--color-white);
	display: flex;
	justify-content: center;
	color: var(--color-white);
}

* {
	box-sizing: border-box;
}

.app {
	width: 100vw;
	max-width: 50em;
	height: 200vw;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 30px 20px rgba(0 0 0 / 20%),
		0 5px 20px 10px rgba(0 0 0 / 19%);
}

.app-header {
	background-color: var(--color-black);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo-img {
	width: 200px;
	height: 200px;
}

.navbar {
	display: flex;
	justify-content: center;
	background-color: var(--color-black);
}

.navbar-menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar-menu li {
	padding: 8px 12px;
}

/* .navbar-menu li::after {
	content: '|';
	float: right;
	margin-left: 24px;
	color: var(--color-blue);
}
.navbar-menu li:last-child::after {
	content: '';
	margin-left: 24px;
} */

.navbar-menu-item {
	cursor: pointer;
}
.navbar-menu-item:hover {
	background-color: var(--color-white);
	border-radius: 20px;
}
.navbar-menu-item:hover a {
	color: var(--color-black);
}

.navbar-menu-item a {
	text-decoration: none;
	color: white;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.search-form {
	display: flex;
	flex-direction: column;
	background-color: var(--color-red);
	padding: 1em;
	padding-left: 20%;
	padding-right: 20%;
}

.search-box input {
	display: inline-block;
	width: 100%;
	margin-top: 1em;
	padding: 0.5em;
	border: 0px;
	border-radius: 20px;
	padding-left: 2.5em;
	ime-mode: active;
}

.search-icon {
	position: absolute;
	margin-top: 1.5em;
	margin-left: 0.5em;
	color: var(--color-darkGrey);
	background-color: var(--color-white);
	cursor: pointer;
	border: none;
}

.search-icon:hover {
	color: var(--color-black);
}
.search-icon:active {
	color: var(--color-red);
}

.select-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.search-box input:focus {
	outline: none;
	box-shadow: 0 0 5px 5px rgba(0 0 0 / 20%), 0 0 5px 5px rgba(0 0 0 / 19%);
}

.select-box label {
	font-weight: bold;
}
.select-box select {
	margin-left: 5px;
	margin-right: 5px;
	max-width: fit-content;
	border: 0px;
	padding: 0.2em;
}
.select-box select:last-child {
	margin-right: 0px;
}

/* option tag cannot custom css when is hover or click or press*/
.select-box select option:hover {
	background-color: #fff6b0;
}
.select-box select option:checked {
	background: #ca5f58;
	color: #fff;
}
.select-box select option:hover {
	background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
	color: #fff;
}

.movie-selected {
	display: flex;
	flex-direction: column;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: var(--color-black);
	padding: 0.5em;
	box-shadow: 3px 5px 10px 0 var(--color-black);
}

.movie-subtitle {
	font-size: 1.5rem;
}

.movie-info {
	display: flex;
	flex-direction: row;
}

.movie-img {
	width: 10em;
	height: 15em;
	margin-right: 1em;
}

.movie-text {
	font-size: 1rem;
}

.movie-content button {
	font-size: 1.3rem;
	width: 10rem;
	height: 3rem;
	border: none;
	border-radius: 50px;
}
.movie-content button:hover {
	outline: none;
	box-shadow: 0 0 5px 5px rgba(0 0 0 / 20%), 0 0 5px 5px rgba(0 0 0 / 19%);
}
.movie-content button:active {
	box-shadow: none;
}
.add-button {
	background-color: #5be256;
}
.del-button {
	background-color: #c93b3b;
}

.movies {
	padding: 0;
	margin: 2em;
	overflow: scroll;
	overflow-x: hidden;
	height: 50em;
}

.movie {
	margin-left: 2em;
	margin-right: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #000000;
	display: flex;
	align-items: center;
	border: 2px solid rgba(191, 191, 191, 0.53);
	box-shadow: 3px 3px 35px 0px rgba(191, 191, 191, 0.53);
	cursor: pointer;
	transition: transform 100ms ease-in;
}
.movie:hover {
	color: var(--color-red);
	border-color: var(--color-red);
	box-shadow: 3px 3px 20px 0px var(--color-red);
	/* transform: scale(1.02); */
	transform: scale(1.05);
}

.movie img {
	width: 110px;
	height: 157px;
}
